---
import CompromiseIcon from "../icons/CompromiseIcon.astro";
import DashboardIcon from "../icons/DashboardIcon.astro";
import FaceHappy from "../icons/FaceHappy.astro";
import HansIcon from "../icons/HansIcon.astro";
import HeartIcon from "../icons/HeartIcon.astro";
import HistoryIcon from "../icons/HistoryIcon.astro";
import TeamIcon from "../icons/TeamIcon.astro";
---

<div id="section2">
  <div
    class="bg-[#BD1622] flex rounded-full mt-16"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <FaceHappy class="size-16 fill-white ml-4 mr-4" />
    <div>
      <h1 class="text-xl sm:text-2xl text-white">Descubre</h1>

      <h1 class="text-xl sm:text-2xl text-white font-bold">Quienes somos</h1>
    </div>
  </div>
</div>

<section class="font-quicksand" data-aos="fade-up" data-aos-duration="2000">
  <div class="py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p
          class="font-heading mt-2 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl"
        >
          Tu socio confiable en servicios de copistería y diseño en Durango
        </p>
        <p class="mt-4 max-w-2xl text-lg text-gray-500 lg:mx-auto">
          Comprometidos con la excelencia y la satisfacción del cliente
        </p>
      </div>

      <div class="mt-10">
        <dl
          class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10"
        >
          <div class="relative">
            <dt>
              <div
                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white"
              >
                <HistoryIcon class="fill-[#BD1622]" />
              </div>
              <p
                class="font-heading ml-16 text-lg leading-6 font-bold text-[#BD1622]"
              >
                Nuestra Historia
              </p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              Con 35 años de experiencia en Durango, Copymax se ha mantenido
              como un negocio pequeño y confiable. Desde nuestros comienzos
              familiares, nos hemos destacado por nuestra dedicación a la
              calidad y la atención al cliente. Adoptamos nuevas tecnologías
              para satisfacer las necesidades de nuestros clientes.
            </dd>
          </div>
          <div class="relative">
            <dt>
              <div
                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white"
              >
                <CompromiseIcon class="fill-[#F8B133]" />
              </div>
              <p
                class="font-heading ml-16 text-lg leading-6 font-bold text-[#F8B133]"
              >
                Nuestro Compromiso
              </p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              En Copymax, tu satisfacción es nuestra prioridad. Creemos en la
              atención al detalle y en ofrecer un servicio al cliente
              excepcional. Nos esforzamos por construir relaciones duraderas
              basadas en la confianza y la calidad constante. Nuestro equipo
              está siempre listo para ayudarte y garantizar que tu experiencia
              con nosotros sea excelente.
            </dd>
          </div>
          <div class="relative">
            <dt>
              <div
                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white"
              >
                <TeamIcon class="fill-[#1D70B7]" />
              </div>
              <p
                class="font-heading ml-16 text-lg leading-6 font-bold text-[#1D70B7]"
              >
                Nuestro Equipo
              </p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              En Copymax, nuestro equipo está formado por profesionales
              dedicados y apasionados. Cada miembro aporta su experiencia para
              ofrecer los mejores servicios. Nos comprometemos con la formación
              continua y la innovación para mantenernos al día con las últimas
              tecnologías.
            </dd>
          </div>
          <div class="relative">
            <dt>
              <div
                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white"
              >
                <HansIcon />
              </div>
              <p
                class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700"
              >
                Confianza y Fiabilidad
              </p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              En Copymax, valoramos la confianza que nuestros clientes depositan
              en nosotros. Nos enorgullece ser un socio confiable al ofrecer
              resultados consistentes y de alta calidad. Nuestro compromiso con
              la honestidad y la transparencia nos ha permitido construir
              relaciones duraderas y sólidas con nuestra comunidad.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
