---
import DashboardIcon from "../icons/DashboardIcon.astro";
import PrinterIcon from "../icons/PrinterIcon.astro";
import PeenIcon from "../icons/PeenIcon.astro";
import PlanIcon from "../icons/PlanIcon.astro";
---

<div id="section1">
  <div
    data-aos="fade-up"
    data-aos-duration="2000"
    class="bg-[#1D70B7] flex rounded-full md:mt-40 items-center"
  >
    <DashboardIcon class="size-16 fill-white ml-4" />
    <div>
      <h1 class="text-xl sm:text-2xl text-white">Explora</h1>

      <h1 class="text-xl sm:text-2xl text-white font-bold">
        Nuestros diferentes servicios
      </h1>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 pt-4">
  <div
    class="rounded-lg p-6 bg-[#1D70B7] mx-4 flex flex-col items-center"
    data-aos="fade-right"
    data-aos-duration="2000"
  >
    <PrinterIcon class="size-28 object-center text-white" />
    <h1 class="text-white text-3xl font-bold">Copisteria</h1>
    <p class="text-white font-semibold text-justify">
      En Copymax, ofrecemos servicios de copistería de alta calidad para todas
      tus necesidades de impresión. Imprime documentos y realiza copias a color
      o en blanco y negro con rapidez y precisión. Nuestro equipo asegura
      atención al detalle y máxima calidad.
    </p>
  </div>
  <div
    class="max-h-max rounded-lg p-6 bg-[#BD1622] mx-4 flex flex-col items-center"
    data-aos="fade-right"
    data-aos-duration="2000"
  >
    <PrinterIcon class="size-28 object-center text-white center" />
    <h1 class="text-white text-3xl font-bold">Diseño grafico</h1>
    <p class="text-white font-semibold text-justify">
      Creamos diseños únicos y a medida para cualquier ocasión. Desde stickers
      personalizados hasta gráficos innovadores, transformamos tus ideas en
      realidad con calidad y creatividad. ¡Haz que tu visión destaque con
      nosotros!
    </p>
  </div>
  <div
    class="max-h-max rounded-lg p-6 bg-[#F8B133] mx-4 flex flex-col items-center"
    data-aos="fade-right"
    data-aos-duration="2000"
  >
    <PlanIcon class="size-28 object-center fill-white center" />
    <h1 class="text-white text-3xl font-bold">Todo para tu negocio</h1>
    <p class="text-white font-semibold text-justify">
      Ofrecemos todo lo necesario para tu negocio, desde tarjetas de
      presentación, stickers, pósters, vinilos y más. Contamos con una amplia
      gama de productos que se adaptan a tus necesidades comerciales y
      promocionales. Nuestro equipo está comprometido en proporcionar soluciones
      de alta calidad para que tu negocio destaque.
    </p>
  </div>
</div>

<!-- <div
  class="sm:bg-yellow-200 md:bg-blue-700 lg:bg-red-500 flex flex-col items-center sm:flex-row justify-center bg-red-200 mt-12 space-y-4 md:space-y-0 md:space-x-4"
>
  <div
    class="flex flex-col items-center max-w-sm p-6 rounded-lg bg-[#1D70B7] mx-4"
  >
    <PrinterIcon class="size-28 object-center text-white" />
    <h1 class="text-white text-3xl font-bold">Copisteria</h1>
    <p class="text-white font-semibold text-justify">
      En Copymax, ofrecemos servicios de copistería de alta calidad para todas
      tus necesidades de impresión. Imprime documentos y realiza copias a color
      o en blanco y negro con rapidez y precisión. Nuestro equipo asegura
      atención al detalle y máxima calidad.
    </p>
  </div>
  <div
    class="flex flex-col items-center max-w-sm p-6 rounded-lg bg-[#BD1622] mx-4"
  >
    <PeenIcon class="size-28 object-center text-white" />
    <h1 class="text-white text-3xl font-bold">Diseno</h1>
    <p class="text-white font-semibold text-justify py-3">
      Creamos diseños únicos y a medida para cualquier ocasión. Desde stickers
      personalizados hasta gráficos innovadores, transformamos tus ideas en
      realidad con calidad y creatividad. ¡Haz que tu visión destaque con
      nosotros!
    </p>
  </div>
  <div
    class="bg-[#F8B133] flex flex-col items-center max-w-sm p-6 rounded-lg mx-4"
  >
    <PlanIcon class="size-28 object-center fill-white" />
    <h1 class="text-white text-3xl font-bold">Papeleria</h1>
    <p class="text-white font-semibold text-justify">
      Ofrecemos papelería profesional para cada ocasión: tarjetas, papeles
      membretados y más. Personaliza tus documentos con nuestros productos de
      alta calidad y deja una impresión duradera en cada detalle. ¡Descubre
      nuestra variedad y eleva tu presentación!
    </p>
  </div>
</div> -->
