---
import "@fontsource-variable/quicksand";
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tu negocio de copias, impresiones y diseño en Durango."
    />

    <!-- Open Graph meta tags para compartir en redes sociales y WhatsApp -->
    <meta
      name="google-site-verification"
      content="9LDg_FXh0TMqqA0kk8Z8hIXKdWwWz0ntQ9i2q4FoyF0"
    />
    <meta
      property="og:title"
      content="Copias e Impresiones en Durango | Diseño Gráfico"
    />
    <meta
      property="og:description"
      content="Tu negocio de copias, impresiones y diseño en Durango."
    />
    <meta
      property="og:image"
      content="https://copymax.vercel.app/favicon.svg"
    />
    <!-- Cambia esta URL a la de tu imagen -->
    <meta property="og:url" content="https://copymax.vercel.app/" />
    <!-- URL de tu página -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Copymax</title>
  </head>
  <body
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
  >
    <slot />
    <script src="../js/main"></script>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light;
  }
  html {
    font-family: "Quicksand Variable", sans-serif;
  }
  body {
  }
</style>
